{{ define "main" }}
<h1 class="site-title">{{ .Site.Title }}</h1>

<nav class="main-nav">
    <div class="nav-grid">
        <div class="nav-item">
            <div class="nav-image-container">
                <img src="/images/about.jpg" alt="">
            </div>
            <a href="{{ "about" | absLangURL }}">{{ i18n "about" }}</a>
        </div>
        <div class="nav-item">
            <div class="nav-image-container">
                <img src="/images/portfolio.jpg" alt="">
            </div>
            <a href="{{ "portfolio" | absLangURL }}">{{ i18n "portfolio" }}</a>
        </div>
        <div class="nav-item">
            <div class="nav-image-container">
                <img src="/images/articles.jpg" alt="">
            </div>
            <a href="{{ "articles" | absLangURL }}">{{ i18n "articles" }}</a>
        </div>
        <div class="nav-item">
            <div class="nav-image-container">
                <img src="/images/fiction.jpg" alt="">
            </div>
            <a href="{{ "fiction" | absLangURL }}">{{ i18n "fiction" }}</a>
        </div>
    </div>
</nav>
{{ end }}